.avatar{
    width: 250px;
    border: 1px solid #edeef0;
  }

#labelAva{
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
}
#inputAva{
    visibility: hidden;
    width: 5px;
}
  