.FormControl{
    flex-wrap: wrap;
    justify-content: space-between;
}

.FormControl span {
    color: red;
}

.borderRed{
    border: 2px solid red;
    border-radius: 5px;
    color: red;
}


.FormControl input,
.FormControl textarea
{
    border-radius: 3px;
    margin: 0;
    padding: 0;
}
