.sidebar{
    width: 120px;
    margin-right: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
  }

  .sidebar div{
    margin-bottom: 5px;
    margin: 5px;
    /* padding: 5px; */
    border-radius: 5px;
  }
  
.sidebar div:hover{
    cursor: pointer;
    background-color: #edeef0;
  }
  
.sidebar a {
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 100px;
    height: 26px;
    display: block;
  }

  a.active{
    background-color: #d6d6d6;
    border-radius: 5px;
  }
  

  .fren{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }