.App {
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  line-height: 1.154;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #edeef0;
}

header {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px;
}

header img{
  width: 100%;
  position: absolute;
  top: -350px;
}

.main-div{
  margin: 0 auto;
  width: 1200px;

}

.bod{
  display: flex;

}

.side-bar{
  width: 120px;
  margin-right: 20px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.my-page{
  background-color: #fff;
  width: 1040px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.side-bar div{
  margin-bottom: 5px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.side-bar div:hover{
  cursor: pointer;
  background-color: #edeef0;
}

.side-bar a {
  text-decoration: none;
}

.avatar{
  width: 250px;
  border: 1px solid #edeef0;
}

.main-info{
  width: 760px;
  margin-left: 20px;
}
.main-info div{
  margin: 0 0 15px 0 ;
}

.my-posts input{
  width: 1000px;
  margin: 20px 0 20px 0;
  height: 50px;
}
.my-posts{
  margin: 20px;
}

.my-posts button{
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.my-posts div div{
  display:flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.post{
  background-color: #edeef0;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
}
